body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header{
    height: 48px;
    padding: 6px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    height: 48px;
}

header nav .nav-right-section{
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-right: 10px;
}

header nav .nav-right-section a {
    margin-right: 9px;
    color: black;
    padding: 4px;
}

header nav .nav-right-section a:hover {
    text-decoration: underline;
}

nav .nav-right-section .menu-icon{
    padding: 12px;
    width: 16px;
    height: 16px;
    margin: 0px 8px;
    cursor: pointer;
}

nav .nav-right-section .menu-icon:hover {
    background-color: rgba(60,64,67,0.08);
    border-radius: 50px;
}

nav .nav-right-section .menu-icon img {
    height: 16px;
    width: 16px;
    border-radius: 0;
    align-items: center;
}


nav .nav-right-section .profile-img {
    height: 32px;
    width: 32px;
    padding: 4px;
}

nav .nav-right-section .profile-img:hover {
    background-color: rgba(60,64,67,0.08);
    border-radius: 50px;
}


nav .nav-right-section img {
    border-radius: 50%;
    cursor: pointer;
}

main{
    text-align: center;
}

main .main-logo{
    height: 97px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .main-logo img{
    width: 272px;
    height: 92px;
    object-position: center bottom;
    margin-top: 5px;
}

main .main-search {
    padding: 20px;
}

main .main-input {
    width: 100%;
    padding: 6px 0px 0px;
}

main .main-input-container {
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    width: 582px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 487px;
    height: 44px;
    outline: none;
    padding: 0;
    border: none;
    font-size: 14px;
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: rgba(223,225,229,0);;
}

main .main-input-container .search-icon {
    background-image: url("https://image.flaticon.com/icons/png/512/107/107122.png");
    width: 14.58px;
    height: 14.58px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 13px;
}

main .main-input-container .micro-icon {
    background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; 
    cursor: pointer;
}

main .main-buttons {
    height: 70px;
    padding: 18px 0px 0px;
    margin: 0 auto;
    text-align: center;

}

main .main-buttons div {
    display: inline-block;
    text-align: -webkit-center;
}

main .main-buttons button {
    margin: 4px;
    height: 34px;
    padding: 0px 16px;
    outline: none;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    background-color: #f8f9fa;
    cursor: pointer;
    border-radius: 5px;
}

main .main-buttons button:hover {
    border: 1px solid #dadce0;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

main .main-leng a {
    color: #1a0dab;
    padding: 0 3px;
}

main .main-leng a:hover {
    text-decoration: underline;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0%;
    background-color: #f2f2f2;
}

footer .footer-up {
    height: 17px;
    padding: 15px 30px;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}

footer .footer-down {
    height: 46px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    font-size: 14px;
    border-top: 1px solid #dadce0;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

footer ul {
    display: flex;
    list-style: none;
}

footer a {
    padding: 15px;
    color: rgba(0,0,0,.54);
}

footer a:hover {
    text-decoration: underline;
}

footer .footer-left {
    margin: 0px;
    padding: 0px;
}